@import helpers/definitions
@import helpers/mixins
@import helpers/helpers
@import responsive/responsive.sass
@import components/spinner

.flextable
  @include border
  @include shadow
  background: #fff

.ft-no-data
  @include default-padding
  width: 100%
  text-align: center
  font-size: 2.0em

.ft-loader
  display: flex
  justify-content: center
  align-items: center
  padding: 20px

.ft-header
  @include default-padding
  display: flex
  justify-content: space-between

.ft-header-title
  color: $outline-color
  font:
    size: 1.6rem
    weight: bold

.ft-footer
  @include default-padding
  display: flex
  justify-content: flex-end

.ft-grid
  display: flex
  flex-direction: column

.ft-row
  display: flex
  align-items: center
  border-top: 1px solid $border-color;

.ft-row-selected
  background: #ccc

.ft-cell
  width: 100%
  overflow: hidden
  padding: 16px

.ft-heading-row
  display: flex
  width: 100%

.ft-heading-cell
  display: flex
  width: 100%
  padding: $cell-padding
  color: $outline-color
  font-weight: bold
  @include user-select(none)

.ft-clickable
  cursor: pointer

.ft-accordion
  @include default-padding
  width: 100%
  height: 30px
  position: absolute
  cursor: pointer
  opacity: 0

.ft-accordion + .ft-accordion-title + .ft-accordion-panel
  transition: all 300ms ease-in-out
  padding: 0px $horizontal-padding
  max-height: 0
  overflow: hidden
  opacity: 0

.ft-accordion:checked + .ft-accordion-title + .ft-accordion-panel
  opacity: 1
  max-height: 300px
  @include default-padding
